{% extends "base.html" %}

{% block content %}
        
        <form method ="post">
            <table>
                <tbody>
                    <tr>
                        <td><label for="username">Username:</label></td>
                        <td><input id="username" type="text" name="username" /> <span>{{username_error}}</span></td>
                    </tr>
                    <tr>
                        <td><label for="password">Password:</label></td>
                        <td><input id="password" type="password" name="password" /> <span>{{errorpass}}</span></td>
                    </tr>
                    <tr>
                        <td><label for="verify">Verify Password:</label></td>
                        <td><input id="verify" type="password" name="verify" /> <span>{{verr_orify}}</span></td>
                    </tr>
                    <tr>
                        <td><label for="email">Email (optional):</label></td>
                        <td><input id="email" type="text" name="email" />{{err_mail}}</td>
                    </tr>
                    <tr>
                        <td><input type="submit" /></td>
                    </tr>
                </tbody>
            </table>

            
            
            



        </form>

{% endblock %}

 